.side-nav {
    padding-top: .1rem;
    padding-bottom: 3rem;
    text-align: center;
    display: none;
    @include mq (768px) {
        display: block;
    }
    .nav-item:not(:first-child) {
        margin-top: 3rem;
    }
    .nav-item:first-child {
        margin-top: 2rem;
    }

    .icon  {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }
    .selected {
        border-left: 3px solid $color-accent;
    }
}