
.heading-nav-box {
    @include mq(550px) {
         @include flexy($justify: space-between){
            align-items: center;
        }
    }
    .nav {
        margin-top: 1rem;
        @include mq(768px) {
            margin-top: 0;
        }
        &__item {
            display: inline-block;
            margin-left: 1.5rem;
            cursor: pointer;
            @include mq(768px) {
                margin-left: 3rem;
            }
        }
    }
}