.members {
    @extend %col-left;
    padding-left: 2rem;
    @include mq($rowbreakmid) {
        padding-left: 0;
    }

    .heading-tertiary {
        margin-bottom: 3rem;
    }
    .list-box {
        padding-bottom: 4rem !important;
        @include mq (550px) {
            padding-bottom: 2rem !important;
        }
        &::after {
            content: "06/11/2019";
            display: block;
            position: absolute;
            bottom: -.4rem;
            left: 5rem;
            padding-bottom: 2rem; //change on higher
            @include mq (550px) {
                padding-bottom: 0;
                bottom: initial;
                left: initial;
                top: 1rem;
                right: 0;

            }
        }
    }


}